/* ._references {} */

._references .ctn {
    display: grid;
    max-width: var(--w-m);
    gap: var(--gap);
}

@media (min-width: 1024px) {
    ._references .ctn {
        grid-template-columns: 1fr 1fr;
    }
}

._references hr {
    border: none;
    border-top: 1px solid var(--c-darkgray);
    padding-bottom: var(--gutter);
}

._references .prose {
    max-width: 52ch;
}

._references .refs li {
    position: relative;
    padding-bottom: var(--gutter);
    overflow: hidden;
}

._references .refs li > a {
    font-size: var(--fs-l);
    display: block;
}

._references .refs li sub {
    display: block;
    font-size: var(--fs-s);
    color: var(--c-darkgray);
    margin-top: 0.5rem;
}

._references .refs li a {
    text-decoration: underline;
}

