/* ._text-diptych {} */

._text-diptych .ctn {
    max-width: var(--w-m);
    display: grid;
    gap: var(--gap);
}

@media (min-width: 1024px) {
    ._text-diptych .ctn {
        grid-template-columns: 1fr 1fr; 
    }    
}
