activity-modal {
    position: fixed;
    inset: 0;
    display: none;
}

activity-modal[open] {
    display: block;
}

activity-modal .veil {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0.5;
}

activity-modal .dialog {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gray-100);
    flex-direction: column;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    padding: 3rem 1rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    transform: translateY(1rem);
    animation: activity-modal 0.4s forwards;
}

@keyframes activity-modal {
    from {
        transform: translateY(1rem);
    }
    to {
        transform: translateY(0)
    }
}

activity-modal .dialog::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.2;
    background: var(--green);
    z-index: -1;
}

activity-modal .actions {
    display: flex;
    gap: 1rem;
}

activity-modal .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}