.action {
    border: 2px solid var(--gray-150);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: white;
    padding: 0.25rem;
    transition: border 0.2s;
}

.action.not-allowed {
    border-style: dashed;
    border-color: var(--gray-175);
    color: var(--gray-200);
    background: transparent;
    cursor: not-allowed;
}

.action:not(.not-allowed):hover {
    border-color: peru;
}