.action {
    border: 2px solid var(--gray-150);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: white;
    padding: 0.25rem;
}
