/* #view.home {} */

.home_journals {
    margin-top: 1rem;
    padding: 0 0.5rem;
}


.home_journals ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.home_journals .journal,
.home_journals .create {
    width: auto;
}
