nutrition-modal {
    position: fixed;
    inset: 0;
    display: none;
}

nutrition-modal[open] {
    display: block;
}

nutrition-modal .veil {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0;
    animation: nutrition-modal-veil 0.2s forwards;
}

@keyframes nutrition-modal-veil {
    to {
        opacity: 0.5;
    }
}

nutrition-modal .dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    padding: 4rem 1rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    transform: translateY(-1rem);
    animation: nutrition-modal 0.2s forwards;
    box-shadow: 0px 5px 30px rgb(0 0 0 / 40%);
}

@keyframes nutrition-modal {
    from {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(0)
    }
}

nutrition-modal .actions {
    display: flex;
    gap: 1rem;
}

nutrition-modal .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}