#queue {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    max-height: 14rem;
    overflow-y: auto;
    border-top: 1px solid var(--gray-200);
    transition: height 0.2s;
    z-index: 6000;
    transform: translateY(100%);
    transition: transform 0.5s;
    background: var(--gray-100);
}

#queue:has(queue-card) {
    transform: translateY(0);
}

queue-card {
    align-items: center;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

queue-card + queue-card {
    border-top: 1px solid var(--gray-175);
}

queue-card .symbol {
    border: 2px solid var(--gray-150);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: var(--gray-100);
}

queue-card .infos {
    
}

queue-card .infos .key {}

queue-card .infos .startedby {
    margin-top: 0.25rem;
    font-size: x-small;
    color: var(--gray-300);
    font-weight: 500;
}

queue-card .infos .startedby span {
    color: var(--gray-200);
}


queue-card .dot {
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
    background: var(--green);
    margin-left: auto;
}

queue-card .time {
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: large;
    font-weight: 500;
}

