/* COLORS */

:root {
	--gray-100: #F4F3F0;
	--gray-150: #EDEDED;
	--gray-175: #DEDEDE;
	--gray-200: #8C8C8C;
	--gray-300: #464646;
	--gray-400: #262626;
	--back: black;
	--white: white;

	background: var(--gray-100);
}

/* SPACINGS */

:root {
	--rhythm: 8rem;
	--gap: 2rem;
	--gutter: 1rem;
	--site: 1920px;
	--header: 56px;
	--w-s: 48rem;
	--w-m: 64rem;
	--w-l: 80rem;
}

/* TEXT */

:root {
	font-family: "Inter", sans-serif;
	font-size: 16px;

	--fs-s: 0.8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
	--fs-2xl: 3rem;
}

/* 
::selection {
	background-color: var(--c-blue);
	color: var(--c-white);
} */
