button {
    border-radius: 0.25rem;
    border: 1px solid black;
    outline: 0px solid peachpuff;
    transition: outline 0.2s;
}

button:hover {
    outline: 4px solid peachpuff;
}

h2 {
    font-size: x-large;
}

#view {
    max-width: 30rem;
    margin: 0 auto;
}
